@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply font-Montserrat;
  }
  body {
    background: #f1f1f1;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}
.BODY {
  position:sticky;
}

.MainMove {
  padding: 0%;
  margin: 0%;
  position: relative;
  bottom: 777px;
  left: 260px;

}

.BOBY {
  position: relative;
  color: transparent;
  background-clip: text;
  background-size: cover;
  font-family: "Sacramento";
  background-image: url(https://c4.wallpaperflare.com/wallpaper/974/565/254/windows-11-windows-10-minimalism-hd-wallpaper-preview.jpg);
}

img {
  border-radius: 40%;
  position: relative;
}

.JI {
  color: green;
  font-weight: 500;
}

.LOGO {
  padding: 0;
  margin: 0;
  position: relative;
}

.Logo {
  max-width: fit-content;
  font-size: 14px;
  letter-spacing: 3px;
  background: #34495e;
  font-weight: 500;
  color: #fff;
  position: relative;
  left: 38px;
}


.Sharmaji {
  font-family: "Handjet";
  position: relative;
  left: 10px;
}

/* Navbar */
.navbar {
  position: relative;
}

.Arrow{
position:relative;
bottom: 150px;
}


.Bcolor{
@apply  text-teal-500 py-1.5 px-3 text-xs bg-teal-50 rounded-xl
}

.CON {
  @apply w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300;
}

.navbar {
  @apply py-3 px-6
}

.Link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
  @apply bg-blue-100 text-blue-600;
}
